{% extends 'blog/base.html' %}
{% block content %}
{% ifequal 0 posts.count  %}
<h1> Share new Post!</h1>
{% endifequal %}
{% for post in posts %}
<article class="media content-section border rounded overflow-hidden mb-4 p-2 pt-3">
  <div class="row">
    <div class="col-2 d-flex justify-content-center">
      <a href="{% url 'user-posts' post.author.username %}">
      <img class="img-fluid img-thumbnail rounded-circle profile-pic" src="{{ post.author.profile.image.url }}" alt="profile-pic">
      </a>
    </div>
    <div class="col-md-10 article-metadata">
      <h5 class="m-0 mt-3"><a class="text-black-50 text-decoration-none" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></h5>
      <small class="text-muted">● {{ post.date_posted|date:"d M, Y" }} {{ post.timestamp }}</small>
      <!-- {{ post.date_posted | timesince }} -->
    </div>
  </div>
  <div class="container-fluid m-0 media-body p-1 row">
    <h3><a class="article-title text-black-50 text-decoration-none hover-light" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
    <p class="article-content overflow-auto size-5">{{ post.content }}</p>
    <p class="m-1">
      <span class="like-count{{ post.id }}">{{ post.total_likes }}</span>
      Like{{ post.total_likes|pluralize }}
    </p>
    {% if user.is_authenticated %}
    <form action="{% url 'like-post' %}" method="POST" class='like-form' id="{{ post.id }}">
      {% csrf_token %}
      {% if user.username in post.likedby %}
      <button type='submit' name='post_id' value="{{ post.id }}" class="btn std-btn btn-danger like-btn{{ post.id }}">Dislike</button>
      {% else %}
      <button type='submit' name='post_id' value="{{ post.id }}" class="btn std-btn btn-primary like-btn{{ post.id }}">
        Like
      </button>
      {% endif %}
    </form>
    {% endif %}
  </div>
</article>
{% endfor %}
{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4"
  href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}

{% endblock content%}
{% block scripts %}
{% endblock scripts %}