{% extends 'blog/base.html' %}
{% block content %}
    <h3>You: {{me.username}}</h3>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
        <div class="selected-user">
            <span>To: <span class="name">{{user.username}}</span></span>
        </div>
        <div class="chat-container">
        <ul class="chat-box chatContainerScroll" id="message-list">
        {% for message in chats %}
        {% if message.sender.username|stringformat:"s" == user|stringformat:"s" %}
        <li class="chat-left">
            <div class="chat-avatar">
                <img src="{{ user.profile.image.url }}" alt="other user">
                <div class="chat-name">{{message.sender.username}}</div>
            </div>
            <div class="chat-text">
                <br>{{message.text}}</div>
            <div class="chat-hour">{{message.timeofmessage|date:'H:i'}} <span class="fa fa-check-circle"></span></div>
        </li>
        {% else %}
        <li class="chat-right" id="li-right">
            <div class="chat-hour" id="chat-hour">{{message.timeofmessage|date:'H:i'}}<span class="fa fa-check-circle"></span></div>
            <div class="chat-text" id="chat-text">
                <br>{{message.text}}</div>
            <div class="chat-avatar">
                <img src="{{ me.profile.image.url }}" alt="Retail Admin">
                <div class="chat-name">{{message.sender.username}}</div>
            </div>
        </li>
        {% endif %}
        <li style="padding: 10px; list-style: none;">  </li>
        {% endfor %}
    </ul>
    <form id="message-form" class="form-group mt-3 mb-0" method="POST">
        {% csrf_token %}
        <input type="text" name="message" class="form-control" id="message" required>
        <button type="submit" class="btn btn-dark" value="Send" class="btn">Send</button>
    </form>
    </div>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    const url='ws://localhost:8000/ws'+window.location.pathname;
    const ws= new WebSocket(url)
    ws.onopen=function(){
        console.log('connection is opened');
    }
    ws.onmessage=function(event){
        console.log('message is received');
        //creating chat elements
        var li=$("<li></li>").addClass("chat-right");
        const chathour=$("<div></div>").addClass("chat-hour");
        const chattext=$("<div></div>").addClass("chat-text");
        var br=$("<br></br>");
        const span=$("<span></span").addClass("fa fa-check-circle");
        const chatavatar=$("<div></div>").addClass("chat-avatar");
        const img=$("<img>").attr('src',"{{ me.profile.image.url }}");
        const chatname=$("<div></div>").addClass("chat-name");
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var data= JSON.parse(event.data);
        //displaying the created elements
        chathour.append(document.createTextNode(time),span);
        chatname.append(document.createTextNode(data.username));
        chattext.append(br,(document.createTextNode(data.text)));
        chatavatar.append(img,chatname);
        li=$(li).append(chathour,chattext,chatavatar);
        $(".chat-box").append(li);
        console.log(li);

        

    }
    ws.onclose=function(event){
        console.log('connection is closed');
    }
    ws.onerror=function(event){
        console.log('something went wrong');
    }
    const messageForm=document.getElementById('message-form');
    messageForm.addEventListener('submit',sendMessage)
    function sendMessage(e){
        console.log(e.timeStamp);
        if(e.preventDefault) e.preventDefault();
        ws.send(document.getElementById('message').value);
        messageForm.reset();
        return false;
    }
</script>
{% endblock scripts %}
